alembic==1.6.5
Babel==2.9.1
bcrypt==3.0.0
blinker==1.5
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==3.3.2
dnspython==1.16.0
email-validator==1.0.2
enum34==1.1.10
Flask==0.11
Flask-Assets==0.11
Flask-Babel==0.9
Flask-BabelEx==0.9.4
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.6.0
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-SeaSurf==0.2.2
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.3
idna==2.10
importlib-metadata==2.1.3
install==1.3.0
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.6
MarkupSafe==1.1.1
MySQL-python==1.2.5
ndg-httpsclient==0.4.0
passlib==1.7.4
pathlib2==2.3.7.post1
pyasn1==0.1.9
pycparser==2.21
pyOpenSSL==21.0.0
python-dateutil==2.8.2
python-editor==1.0.4
python-pushover==0.3
pytz==2022.7.1
requests==2.27.1
scandir==1.10.0
six==1.16.0
speaklater==1.3
SQLAlchemy==1.2.9
typing==3.10.0.0
urllib3==1.26.14
webassets==2.0
Werkzeug==0.16.1
WTForms==2.3.3
zipp==1.2.0
